body {
    font-family: Arial;
    background: linear-gradient(to right, #fceabb, #f8b500);
    padding: 30px;
}

form {
    background: white;
    padding: 20px;
    width: 300px;
}

button {
    margin-top: 10px;
}
